/.idea/.name
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/files/Container.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/files/Folder.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/files/Image.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/files/Picture.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/pp3/PP3Category.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/pp3/PP3CategoryImpl.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/pp3/PP3File.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/pp3/PP3Item.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/pp3/PP3ItemImpl.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/entities/Project.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/Config.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/HelloApplication.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/HelloController.class
/build/classes/java/main/module-info.class
/build/libs/picture-projects-tool-1.0-SNAPSHOT.jar
/build/resources/main/nl/tijsbeek/pictureprojectstool/hello-view.fxml
/build/tmp/compileJava/compileTransaction/stash-dir/HelloController.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/Image.class.uniqueId2
/build/tp/compileJava/compileTransaction/stash-dir/PP3File.class.uniqueId0
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/jar/MANIFEST.MF
/.gradle/8.3/checksums/checksums.lock
/.gradle/8.3/checksums/md5-checksums.bin
/.gradle/8.3/checksums/sha1-checksums.bin
/.gradle/8.3/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.3/dependencies-accessors/gc.properties
/.gradle/8.3/executionHistory/executionHistory.lock
/.gradle/8.3/fileChanges/last-build.bin
/.gradle/8.3/fileHashes/fileHashes.lock
/.gradle/8.3/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.idea/misc.xml
/.idea/vcs.xml
/build/tmp/compileJava/compileTransaction/stash-dir/PP3File.class.uniqueId0
/.gradle/file-system.probe
/.gradle/8.3/executionHistory/executionHistory.bin
/.gradle/8.3/fileHashes/fileHashes.bin
/.gradle/8.3/fileHashes/resourceHashesCache.bin
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/ProjectManager.class
/build/libs/Picture projects tool-1.0-SNAPSHOT.jar
/build/resources/main/nl/tijsbeek/pictureprojectstool/projectmanager.fxml
/.idea/gradle.xml
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/Main.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/ProjectControl.class
/build/classes/java/main/nl/tijsbeek/pictureprojectstool/Projects.class
/build/distributions/Picture_projects_tool-1.0-SNAPSHOT.tar
/build/distributions/Picture_projects_tool-1.0-SNAPSHOT.zip
/build/libs/Picture_projects_tool-1.0-SNAPSHOT.jar
/build/resources/main/nl/tijsbeek/pictureprojectstool/ProjectControl.fxml
/build/resources/main/nl/tijsbeek/pictureprojectstool/Projects.fxml
/build/scripts/Picture_projects_tool
/build/scripts/Picture_projects_tool.bat
/build/tmp/compileJava/compileTransaction/stash-dir/Main.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/ProjectControl.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/Projects.class.uniqueId2
